*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#arrow{
    z-index: 100;
    background-color: black;
    color: white;
    
    border-radius: 50%;
    position: fixed;
    top: 550px;
    left: 20px;
}
#arrow i{
    font-size: 40px;
    padding: 5px 10px;
}
#order{
    z-index: 500;
    position: absolute;
    color: black;
    background-color: white;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3;
    top: 70px;
    left: 150px;
    box-shadow: 4px 4px 4px 4px rgb(206, 206, 206);
}
#order ul li{
    display: flex;
   
}
#order ul li a{
    padding: 5px;
    margin: 5px;
    padding-left: 10px;
    font-size: 15px;
   
    
}
#order ul li a:hover{
   
    text-decoration: none;
    color:black;
    background-color: lightgreen;
    box-shadow: -4px 4px 4px 4px rgb(195, 252, 195);
    border-radius: 4px;
}

 .btn{
    font-size: 20px;
    background-color: lightgreen;
    color: white;
    padding: 10px 60px;
    text-transform: uppercase;
    font-weight: 1000;
}
 .btn:hover{
    box-shadow: 4px 4px 6px 6px rgb(206, 226, 189);
    color: white;
}
#header{
    position: sticky;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    padding: 10px 0px;
    background-color: white;
    z-index: 100;
}
#header .left{
    position: absolute;
   
    left: 30px;
}
#header .left .btn{
    border: 1px solid lightgreen;
    background-color: lightgreen;
    color: white;
    padding: px 5px;
}
#header .mid{
    position: absolute;
    margin: 0px 600px;
    
}
#header .right{
    position: absolute;
    
    right: 30px;
}
#header ul{
    display: flex;
}
#header ul li{
    margin-top: 20px;
    display: flex;
}
#header ul li a{
    color: black;
    padding: 0px 10px;
    font-size: 16px;
}
#header ul li a:hover{
    text-decoration: none;
}
#header .mid img{
    width: 60px;
    margin-top: 10px;
}

#slider{
    z-index: -1;
}
#slider .mySlides {
     display:none;
}

#home{
    margin: 0px 200px;
    background-color: #ffffff6e;
    position: absolute;
    top: 250px;
    padding-top:60px ;
    padding-bottom: 20px;
}
#home h1{
    font-size: 60px;
    font-weight: 500;

}
#home p{
    font-size: 17px;
    font-weight: bold;
    margin-top: 30px;
}
#home .btn{
    font-size: 20px;
    background-color: lightgreen;
    padding: 10px 60px;
    text-transform: uppercase;
    font-weight: 1000;
}
#work h1{
    text-align: center;
    font-size: 45px;
}
#work img{
   width: 120px;
   height: 150px;

   
}
#work h2{
    font-size: 22px;
}
#work p{
    font-size: 15px;
}
#work .col-lg-3{
    text-align: center;
    flex-basis: 40%
    
}

#menu{
    margin-top: 100px;
    background: url('/assets/pics/16.png')no-repeat center center/cover;
    padding: 20px 0px;
    padding-bottom: 60px;
}
#menu .container{
    margin-top: 20px;
    padding: 0px 30px;
    padding-bottom: 50px;
    
    background-color: white;
}
#menu h4{
    z-index: 100;
  margin-top: -110px;
  margin-left: 50px;
   
    background-color: red;
    color: white;
    font-size: 22px;
    margin-right: 0px;
    padding-right: 20px;
    padding-bottom: 3px;
    transform: rotate(90deg);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
#menu h1{
    text-align: center;
    margin-top: 60px;
}
#menu p{
    text-align: center;
}
#menu img{
    width: 130px;
    height: 150px;
}
#menu .bg-white{
    display: flex;
    border-radius: 5px;
    box-shadow: 4px 4px 2px 0px rgb(199, 199, 199);
}
#menu #menu-box{
    margin-top: 30px;
}
#menu .col-md-6{
   
    display: flex;
    
    padding: 10px 10px;
}
#menu .col-md-6 p{
    text-align: start;
}
#menu .col-md-6 .b{
    margin-left: 10px;
}
#menu .col-md-6 .b h2{
    font-size: 13px;
    font-weight: bold;
}
#menu .col-md-6 .b p{
    font-size: 11px;
}
#menu .col-md-6 .b .king{
    display: flex;
   
    
}
#menu .col-md-6 .b .king h3{
    font-size: 22px;
}
#menu .col-md-6 .b .king span{
    margin-top: 15px;
    margin-left: 3px;
}
#menu #btn{
    text-align: center;
}
#menu .btn{
    font-size: 22px;
    color: white;
    margin-top: 30px;
    padding: 5px 40px;
    background-color: rgb(87, 243, 87);
}
#menu .btn:hover{
    box-shadow: 4px 4px 6px 6px rgb(206, 226, 189);
}

#plains{
    margin-top: 100px;
    text-align: center;
}
#plains h1{
    font-weight: 500;
    font-size: 40px;
}
#plains p{
    margin: 10px 130px;
    font-size: 17px;
    line-height: 25px;
}
#plains #plains-box{
    margin-top: 50px;
    margin-bottom: 30px;
}
#plains h2{
    margin-top: 50px;
    font-size: 18px;
    font-weight: 500;
}
#plains #plains-box p{
    font-size: 16px;
    line-height: 20px;
    margin: 0px 40px;
}
#plains .btn{

    font-size: 22px;
    color: white;
    margin-top: 30px;
    padding: 5px 40px;
    background-color: rgb(87, 243, 87);
}
#plains .col-md-3{
    padding-bottom: 30px;
   
}
#plains #plains-box .bg-white{
    box-shadow: 4px  4px 4px 2px rgb(143, 143, 143);
    border-radius: 10px;
    padding: 30px 20px;
    background-color: orange;
}
#plains .btn:hover{
    box-shadow: 4px 4px 6px 6px rgb(206, 226, 189);
}


#saying{
    background-color: rgb(194, 206, 206);
    padding: 50px 10px;
    padding-bottom: 60px;
}
#saying h1{
    text-align: center;
    margin-top: 50px;
}
#saying #king{
    background-color: white;
    padding: 20px 30px;
    padding-top: 30px;
    text-align: center;
    margin-top: 50px;
    box-shadow: 4px 4px 4px 5px rgb(192, 189, 189);
    border-radius: 10px;
}

#mission {
    margin-top: 200px;
    background: url('/assets/pics/17.png')no-repeat center center/cover;
    background-size: 100% 80%;
    position: absolute;
    left: 50%;
}
#mission #clean{
    margin-left: -600px;
    margin-right: 450px;
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 4px 4px 4px 5px rgb(192, 189, 189);
    border-radius: 10px;
}
#mission h1{
    font-size: 50px;
    font-weight: 600;  
}
#mission p{
    margin-top: 20px;
    line-height: 30px;
    font-size: 17px;
}
/* GET Section start here */

#get{
    margin-top: 900px;
    background: url('/assets/pics/18.jpg')no-repeat center center/cover;
    position: absolute;
    background-size: 100% 100%;
    height: 70%;
   right: 40%;
   left: 10%;
  
  
}
#get h1{
    font-size: 45px;
}
#get p{
    margin-top: 10px;
    font-size: 18px;
}
#get #you{
    border-radius: 10px;
    background-color: white;
   
    padding: 50px 30px;
    margin-left: 350px;
    margin-top: 30px;
     margin-right: -450px;
    box-shadow: 4px 4px 4px 5px rgb(192, 189, 189);

}
#creation{
    margin-top: 1500px;
    background-color: black;
    color: white;
 
   padding-top: 30px;
   padding-bottom: 30px;
}
#creation .col-md-4 input{
    margin-top: 10px;
}
#creation #icons i{
    margin-top: 20px;
    margin-left: 15px;
    background-color: white;
    padding: 10px 14px;
    border-radius: 50%;
    color:black;
    font-size: 30px;
}
#creation #icons i:hover{
    color:red;
}
#creation ul li{
    list-style: none;
}
#creation ul li a{
       color: white;
       margin-top: 5px;
       font-size: 15px;
       text-decoration: none;
}

footer{
    text-align: center;
    color: blue;
}


